.top-card-img {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.bsb-hero-2 {
    min-height: 700px;
}
/* Navbar*/
.nav-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin-right: 10px;
}

.navbar-toggler {
        display: flex;
        align-items: flex-start;
    }
.nav-title:hover {
    scale: 1.2;
    transition: 0.3s ease-in-out;
    color: #7035fd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
    .nav-title:{
        font-size: 30px;
    }
    .nav-title:hover {
        text-shadow: none;
    }
}
/* Event List */
.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
}
.card-text {
    font-family: 'Arial', sans-serif;
}
.list-btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .card-title {
        font-size: 10vw;
    }
}

/* Event Details */
.event-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    color: #7035fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2px;
}
.event-instructor {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.event-details {
    font-family: 'Arial', sans-serif;
}
.event-type {
    font-family: 'Arial', sans-serif;
}
.event-date {
    font-family: 'Arial', sans-serif;
}
.event-availability {
    font-family: 'Arial', sans-serif;
}
.event-bookingbtn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5vh;
}
.event-bookingbtn {
    font-family: 'Bebas Neue', sans-serif;
    padding: 20px 30px;
    font-size: 3.5vh;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust styles as needed */
    }

    .event-bookingbtn {
        padding: 8px 16px; /* Adjust styles as needed */
    }
}

/* Footer Text */
.footer-text {
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    letter-spacing: 2px;
}
/* User Profile */
.your-bookings {
    color: #d44719;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Resources List */



/* Home */
.background-image {
    height: 100vh;
}
.text-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 0px;
    display: inline-block;
    padding: 0px 45px;
}
.home-getstarted {
    color: #d44719;
    text-decoration: none;
    outline: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    border: 8px solid #d44719;
    border-radius: 10px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.home-getstarted:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .home-getstarted {
        font-size: 7vw;
    }
}