<!-- templates/home.html -->
<!-- This is a temporary Homepage so that we could test log in functionality. We will be grabbing the login in a link and href and putting it into the nav bar.-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">{{ user.username }}!, <br>Enjoy your visit!</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><a href="{% url 'password_change' %}" class="card-link">Password Change</a></p>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        {% if user.is_authenticated %}
          <p class="card-text">Please log in<br><a href="{% url 'login' %}" class="card-link">Log in</a></p>
          <p class="card-text"><a href="{% url 'password_reset' %}" class="card-link">Password Reset</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endif %}
{% endblock %}