{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="event-title">User Profile</h1>
    <h2 class="event-instructor">Username: {{user.username}}</h2>

    <!-- Display Profile Picture -->
    <p>{{ user_profiles }}</p>
    
        <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
        <p class="event-details">There should be a profile picture here.</p>
    
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="event-details">Save</button>
    </form>

    <h1 class="event-title">Your Bookings</h1>
    <ul>
        {% for booking in user_bookings %}
        <li>{{ booking.event.title }} - {{ booking.date_booked }}
            <form method="post" action="{% url 'delete_booking' booking.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
        {% empty %}
        <li class="your-bookings">No bookings found.</li>
        {% endfor %}
    </ul>
</div>
    {% endblock %}