{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container-fluid">

        <body>
                <!-- Message Display code -->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            <!------------------------>

            <!-- Displays Event Details -->
            <h1 class="event-title">{{ event.title }}</h1>
            <h2 class="event-instructor">Instructor: {{ event.instructor }}</h2>
            <p class="event-details"><strong>Details:</strong> {{ event.description }}</p>
            <p class="event-type"><strong>Event Type:</strong> {{ event.type }}</p>
            <p class="event-date"><strong>Date:</strong> {{ event.time }}</p>
            <p class="event-availability"><strong>Availability:</strong> {{ event.current_slots }} / {{event.available_slots}}</p>
            <!------------------------>

            <!-- Book Event form POST call -->
            <form class="event-booking btn-container" method="post" action="{% url 'book_event' event.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="event-booking btn text-center" type="submit">Book Event</button>
            </form>
            <!------------------------>

        </body>
    </div>
</section>

{% endblock %}