{% extends 'base.html' %}

{% block content %}
    <!-- Message Display code -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!---------------------->

    <!--container to space out??-->
    {% for event in events %}
    <div class="container d-flex align-items-center justify-content-center mb-3">
        <div class="card bg-dark text-white" style="width: 750px;">
            <div class="row">
                <div class="col-sm-5">
                    <img class="card-img top-card-img" src="{{ event.image.url }}" alt="Article image" style="width: 100%; height: auto;">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">{{ event.description }}</p>
                        {% if user.is_authenticated %}
                        <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Book</a>
                        {% else %}
                        <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-dark">Log In</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endblock %}