{% extends 'base.html' %}

{% block content %}
<body>
    <!-- Message Display code -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!------------------------>

    <!-- Displays Event Details -->
    <h1>{{ event.title }}</h1>
    <h2>Instructor: {{ event.instructor }}</h2>
    <p>Details: {{ event.description }}</p>
    <p>Event Type: {{ event.type }}</p>
    <p>Date: {{ event.time }}</p>
    <p>Availability: {{ event.current_slots }} / {{event.available_slots}}</p>
    <!------------------------>
    
    <!-- Book Event form POST call -->
    <h2>Book Event</h2>
    <form method="post" action="{% url 'book_event' event.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book Event</button>
    </form>
    <!------------------------>

</body>
 {% endblock %}