{% extends 'base.html' %}

{% block title %}ZenHub - Home{% endblock %}

{% block body %}
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull" style="background-image: url('assets/images/Jackie.png');">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 class="display-3 fw-bold mb-3 text-dark">ZenHub</h1>
                <p class="lead mb-5 text-dark">A place to be.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn bsb-btn-3xl btn-light gap-3">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}