{% extends 'base.html' %}

{% block title %}ZenHub - Home{% endblock %}

{% block content %}
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull">
    <div class="background-image" style="background-image: url('https://raw.githubusercontent.com/RyanFerris7/zenhub/main/assets/images/home-hero.png');">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                    <div class="text-container">
                    <h1 class="display-3 fw-bold mb-3 text-white">ZenHub</h1>
                    <p class="lead mb-5 text-white">A place to be.</p>
                </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="home-getstarted" href="{% url 'signup' %}"><p class="getstarted-text">Get Started</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
